h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
  }
  